<div class="modal fade" id="{{modalId}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning fw-bold fs-4" id="modalLabel">{{card.name | titlecase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="{{card.img}}" alt="{{card.name}}" class="img-fluid equal-image mb-4" />
        </div>
        <div *ngIf="!isSpacecraft; else spacecraft">
          <app-char-table [char]="card"></app-char-table>
        </div>
        <ng-template #spacecraft>
          <app-spacecraft-info [spacecraft]="card"></app-spacecraft-info>
        </ng-template>
        <h5 class="mt-3 ps-2">Description</h5>
        <p class="ps-2 lead">{{card.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>