<app-navbar></app-navbar>
<div class="viewport_height">
  <div class="container">
    <div class="row">
      <div class="col-12 d-md-flex justify-content-md-center pt-3">
        <figure class="characters_card jedis_color">
          <img src="assets/img/jedis/jedis.webp" alt="jedis" />
          <figcaption>
            <h3>Jedis Knights</h3>
            <p>A Jedi was a member of the Jedi Order, who studied, served, and used the mystical energies of the Force,
              typically the light side of the Force.</p>
            <a routerLink="/jedi" class="text-white fw-bold">May the force be with you</a>
          </figcaption>
        </figure>
        <figure class="characters_card siths_color">
          <img src="assets/img/siths/siths.webp" alt="siths" />
          <figcaption>
            <h3>Sith Order</h3>
            <p>The Sith were an ancient order of Force wielders dedicated to the dark side of the Force.</p>
            <a routerLink="/sith" class="text-white fw-bold">Join to the Dark Side</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <h2 class="display-4 mb-3">Explore the Galaxy</h2>
        <p class="lead">
          Embark on an epic journey through the Star Wars universe. Choose your path, whether it's with the noble Jedi
          Knights or the powerful Sith Order.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>